<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>

<body>
<div>
  <form th:action="@{/user}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <br/>Name:
    <label>
      <input type="text" th:field="*{name}"/>
    </label>
    <br/>Last name:
    <label>
      <input type="text" th:field="*{lastName}"/>
    </label>
    <br/>E-mail:
    <label>
      <input type="text" th:field="*{email}"/>
    </label>
    <br/>
    <input type="submit" value="Submit"/>
    <br/>
  </form>
</div>
</body>
</html>